body {
  background-color: #ffc927;
  font-family: "Arial", sans-serif;
  /* width: 100%; */
  /* overflow-x: hidden; */
}

#features i {
  font-size: 3rem;
  margin-bottom: 10px;
}

footer p {
  font-size: 0.9rem;
}

.bg-primary {
  background-color: #ffc927 !important;
}

.nav-button {
  transition: transform 0.3s ease;
}

.nav-button:hover {
  transform: scale(1.1);
}

.social-media-nav a img {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease;
}

.social-media-nav a img:hover {
  transform: scale(1.1);
}

.social-media {
  position: absolute;
  top: 5%;
  right: 8%;
  gap: 15px;
  z-index: 10;
}
.social-media a img {
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
}
.social-media a img:hover {
  transform: scale(1.1);
}

.footer-social img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.footer-social img:hover {
  transform: scale(1.1);
}

/* .how-to {
  background-image: url("/images/howto/black.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  align-items: center;
} */
